# Public mobile configuration. Do not put CLERK_SECRET_KEY in this file.
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGFwcHktcGhvZW5peC0zODQuY2xlcmsuYWNjb3VudHMuZGV2JA
# For a physical device, use the LAN address of the machine running the API.
EXPO_PUBLIC_API_BASE_URL=http://localhost:5000
